<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        
        <!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        
        <!-- Our Script file -->
        <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>      
        <script src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.gallery.js"></script>
        <script type="text/javascript" src="/static/js/modernizr.custom.53451.js"></script>
        <script type="text/javascript">                
          $(function() {
            $('#banner').gallery({
              autoplay  : true
            });
          });
        </script>

        <title> - </title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">湖南游 - 价格在线</a>
                </div>
                <div class="navbar-collapse collapse">
                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        选择地区
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">长沙市</a></li>
                          <li><a href="#">株洲市</a></li>
                          <li><a href="#">湘潭市</a></li>
                          <li><a href="#">衡阳市</a></li>
                          <li><a href="#">邵阳市</a></li>
                          <li><a href="#">岳阳市</a></li>
                          <li><a href="#">常德市</a></li>
                          <li><a href="#">张家界市</a></li>
                          <li><a href="#">益阳市</a></li>
                          <li><a href="#">娄底市</a></li>
                          <li><a href="#">郴州市</a></li>
                          <li><a href="#">永州市</a></li>
                          <li><a href="#">怀化市</a></li>
                          <li><a href="#">湘西自治州</a></li>
                          <li class="divider"></li>
                        </ul>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="password" placeholder="输入景点" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">查询</button>
                  </form>
                </div><!--/.navbar-collapse -->
              </div>
            </div>

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
              <div class="container">
                <div class="banner" style="padding-top:50px">
                  <section id="banner" class="dg-banner">
                    <div class="dg-wrapper">
                      <a href="#"><img src="http://hnyou.u.qiniudn.com/zjj1.jpg!banner" width="600" height="300" /></a>
                      <a href="#"><img src="http://hnyou.u.qiniudn.com/zjj2.jpg!banner" width="600" height="300" /></a>
                      <a href="#"><img src="http://hnyou.u.qiniudn.com/zjj3.jpg!banner" width="600" height="300" /></a>
                      <a href="#"><img src="http://hnyou.u.qiniudn.com/zjj4.jpg!banner" width="600" height="300" /></a>
                      <a href="#"><img src="http://hnyou.u.qiniudn.com/zjj5.jpg!banner" width="600" height="300" /></a>
                    </div>
                  </section>
              </div>
            </div>

            <div class="container">
              <!-- Example row of columns -->
              <div class="row">
                <div class="col-md-4">
                  <h2>张家界</h2>
                  <p>优美的旅游景点</p>
                  <p>
                    <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal1">
                        <img data-src="holder.js/100%x180" alt="..." src="http://hnyou.u.qiniudn.com/zjj1.jpg!big">
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">张家界</h4>
                          </div>
                          <div class="modal-body">
                            美丽的张家界
                            <img src="http://hnyou.u.qiniudn.com/zjj1.jpg!mid" />
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                  </p>
                </div>
                <div class="col-md-4">
                  <h2>张家界</h2>
                  <p>优美的旅游景点</p>
                  <p>
                    <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal2">
                        <img data-src="holder.js/100%x180" alt="..." src="http://hnyou.u.qiniudn.com/zjj2.jpg!big">
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">张家界</h4>
                          </div>
                          <div class="modal-body">
                            美丽的张家界
                            <img src="http://hnyou.u.qiniudn.com/zjj2.jpg!mid" />
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                  </p>
               </div>
                <div class="col-md-4">
                  <h2>张家界</h2>
                  <p>优美的旅游景点</p>
                  <p>
                   <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal3">
                       <img data-src="holder.js/100%x180" alt="..." src="http://hnyou.u.qiniudn.com/zjj3.jpg!big">
                   </a>
                   <!-- Modal -->
                   <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">
                         <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           <h4 class="modal-title" id="myModalLabel">张家界</h4>
                         </div>
                         <div class="modal-body">
                           美丽的张家界
                           <img src="http://hnyou.u.qiniudn.com/zjj3.jpg!mid" />
                         </div>
                       </div><!-- /.modal-content -->
                     </div><!-- /.modal-dialog -->
                   </div><!-- /.modal -->
                  </p>
                </div>
              </div>

              <hr>

              <footer>
                <p>&copy; Company 2013</p>
              </footer>
            </div> <!-- /container -->
    </body>
</html>