<!DOCTYPE html>
<html>
    <head>
      {{template "header.tpl"}}
      <title> - </title>
    </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      {{template "navbar.tpl"}}
      </div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
<div class="banner" style="padding-top:50px">
<section id="banner" class="dg-banner">
<div class="dg-wrapper">
<a href="#"><img src="http://hnyou.u.qiniudn.com/zjj1.jpg!banner" width="600" height="300" /></a>
<a href="#"><img src="http://hnyou.u.qiniudn.com/zjj2.jpg!banner" width="600" height="300" /></a>
<a href="#"><img src="http://hnyou.u.qiniudn.com/zjj3.jpg!banner" width="600" height="300" /></a>
<a href="#"><img src="http://hnyou.u.qiniudn.com/zjj4.jpg!banner" width="600" height="300" /></a>
<a href="#"><img src="http://hnyou.u.qiniudn.com/zjj5.jpg!banner" width="600" height="300" /></a>
</div>
</section>
</div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
<div class="col-md-4">
<h2>张家界</h2>
<p>张家界国家森林公园</p>
<p>
<a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal1">
<img data-src="holder.js/100%x180" alt="..." src="http://hnyou.u.qiniudn.com/zjj1.jpg!big">
</a>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">张家界国家森林公园</h4>
</div>
<div class="modal-body">
<img src="http://hnyou.u.qiniudn.com/zjj1.jpg!mid" />
张家界国家森林公园是中国第一个国家级森林公园，距张家界市区32公里，东连索溪峪，北邻天子山，面积130平方公里。
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</p>
</div>
<div class="col-md-4">
<h2>张家界</h2>
<p>武陵源</p>
<p>
<a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal2">
<img data-src="holder.js/100%x180" alt="..." src="http://hnyou.u.qiniudn.com/zjj2.jpg!big">
</a>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">武陵源</h4>
</div>
<div class="modal-body">
<img src="http://hnyou.u.qiniudn.com/zjj2.jpg!mid" />
武陵源风景名胜区位于湖南省西北部，为国家级著名旅游风景区，由张家界、索溪峪、天子山、杨家界四大部分组成。
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</p>
</div>
<div class="col-md-4">
<h2>张家界</h2>
<p>天门山</p>
<p>
<a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal3">
<img data-src="holder.js/100%x180" alt="..." src="http://hnyou.u.qiniudn.com/zjj3.jpg!big">
</a>
<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">天门山</h4>
</div>
<div class="modal-body">
<img src="http://hnyou.u.qiniudn.com/zjj3.jpg!mid" />
从张家界市区往南眺望，天门山就是那条像兽齿一样险峻的天际线，如同扁月般的天门洞镶嵌山间，便捷的索道将你直送云宵。
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</p>
</div>
</div>

              <hr>

              <footer>
                {{template "footer.tpl"}}
              </footer>
            </div> <!-- /container -->
    </body>
</html>